@{
	ViewData["Title"] = "ShooterGame";
	Layout = "FreeLayout";
}

<link href="~/css/AccuracyCSS.css" rel="stylesheet" asp-append-version="true"/>

<div id="gameContainer" class="game-container">
	<div id="scoretab" class="score-tab">
		<span>Total Shoots: <span id="TotalShoots">0</span></span>
		<span>Score: <span id="Score">0</span></span>
		<span>Miss Shoots: <span id="MissShoots">0</span></span>
		<span>Accuracy: <span id="Accuracy">0%</span></span>
		<input type="button" value="Reset" id="ResetBtn" style="display: none" onclick="EndGame()" class="normal-btn"/>
	</div>

	<div id="Plain" class="plain">
		<div id="UserTab" class="user-tab" onmousedown="event.stopPropagation()">
			<div class="upper-container">
				<div class="target-options">
					<label>Amount</label>
					<input id="TargetAmount" type="number" value="10" />

					<label>Size</label>
					<input id="TargetSize" type="number" value="5" min="1" max="15" />

					<label id="TargetSpeedLabel" style="display: none">Speed</label>
					<input id="TargetSpeed" type="range" min="3" max="12" style="display: none;" />
				</div>

				<div id="TargetContainer"></div>
			</div>
			

			<div class="lower-container">
				<input type="button" id="PlayButton" value="Play" />

				<div class="input-container-right">
					<div>
						<input type="checkbox" id="RandomBool" onclick="ToggleOptions()" onchange="ToogleCheckbox(this)" />
						<label for="RandomBool">Randomize movement</label>
					</div>
					
					<div>
						<input type="checkbox" id="BounceBool" onclick="ToggleOptions()" onchange="ToogleCheckbox(this)" />
						<label for="BounceBool">Bouncing target</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="~/js/AccuracyScript.js" asp-append-version="true"></script>
<script>
	function ToogleCheckbox(box) {
		const randomBool = document.getElementById("RandomBool");
		const bounceBool = document.getElementById("BounceBool");

		if (box.id === randomBool.id && box.checked) {
			bounceBool.checked = false;
		} 
		else if (box.id === bounceBool.id && box.checked) {
			randomBool.checked = false;
		}


	}

	function ToggleOptions() {
		const label = document.getElementById("TargetSpeedLabel");
		const input = document.getElementById("TargetSpeed");

		const randomBool = document.getElementById("RandomBool");
		const bounceBool = document.getElementById("BounceBool");

		if (randomBool.checked || bounceBool.checked) {
			label.style.display = "block";
			input.style.display = "block";
		} 
		else {
			label.style.display = "none";
			input.style.display = "none";
		}
	}
</script>