@{
	ViewData["Title"] = "DVD Logo Bounce";
}

<link rel="stylesheet" asp-append-version="true" href="~/css/AnimationsStyleSheet.css"/>

<div class="direction-selector" id="DirectionSelector" onmousedown="event.stopPropagation()" ondragstart="event.preventDefault();">
	<div class="upper-selector">
		<div id="upperLeft" class="upper-selector-left"><div></div></div>
		<div id="upperCenter" class="upper-selector-center"><div></div></div>
		<div id="upperRight" class="upper-selector-right"><div></div></div>
	</div>

	<div class="middle-selector">
		<div id="middleLeft" class="middle-selector-left"><div></div></div>
		<div id="middleCenter" class="middle-selector-center"></div>
		<div id="middleRight" class="middle-selector-right"></div>
	</div>

	<div class="lower-selector">
		<div id="lowerLeft" class="lower-selector-left"><div></div></div>
		<div id="lowerCenter" class="lower-selector-center"><div></div></div>
		<div id="lowerRight" class="lower-selector-right"><div></div></div>
	</div>
</div>

<div class="blackpit-center" id="BlackPit" ondragstart="event.preventDefault();"></div>

<script src="~/js/DVDscript.js" asp-append-version="true"></script>