@{
	ViewData["Title"] = "DVD Logo Bounce";
}

<link rel="stylesheet" asp-append-version="true" href="~/css/AnimationsStyleSheet.css"/>

<style>
	body {
		overflow: hidden;
		background-color: black;
	}

	.navbar {
		background-color: black !important;
		border-color: gray !important;
	}

	.navbar * {
		background-color: black !important;
		color: white  !important;
	}
</style>

@*<div class="mask1 RainbowDVD" id="dvdlogo"></div>*@

@*<div class="mask1 dvdsize" style="border: 1px solid red; width: 200px; height: 200px; background-color: black;">
</div>*@

<script src="~/js/DVDscript.js" asp-append-version="true"></script>