@{
	ViewData["Title"] = "DVD Logo Bounce";
}

<link rel="stylesheet" asp-append-version="true" href="~/css/AnimationsStyleSheet.css"/>

<style>
	body {
		overflow: hidden;
		background-color: black;
	}

	.navbar {
		background-color: black !important;
		border-color: gray !important;
	}

	.navbar * {
		background-color: black !important;
		color: white  !important;
	}
</style>

<div class="direction-selector" id="DirectionSelector">
	<div class="upper-selector">
		<div class="upper-selector-right"></div>
		<div class="upper-selector-center"></div>
		<div class="upper-selector-left"></div>
	</div>

	<div class="middle-selector">
		<div class="middle-selector-right"></div>
		<div class="middle-selector-left"></div>
	</div>

	<div class="lower-selector">
		<div class="lower-selector-right"></div>
		<div class="lower-selector-center"></div>
		<div class="lower-selector-left"></div>
	</div>
</div>

<script src="~/js/DVDscript.js" asp-append-version="true"></script>