* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.background {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid black;
}

.right-panel {
	display: none;
	height: 100%;
	width: fit-content;
	font-size: 24px;
	font-family: 'Times New Roman';
	border-right: 1px solid black;
	background-color: green;
}

.game-panel {
	width: 100%;
	height: 100%;
	background-color: darkmagenta;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-wrap: nowrap;
}

.rows {
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.menu {
	font-size: 24px;
	font-family: 'Times New Roman';
	border: 1px solid black;
	padding: 0.5rem;
	width: fit-content;
	height: fit-content;
}

.menu * {
	display: block;
	margin: 0 auto;
}

.start-btn {
	margin-top: 1rem;
}

.error-message {
	color: red;
}