* {
	box-sizing: border-box;
	cursor: url(../images/cursor.png), auto;
}

html {
	height: 100%;
}

@font-face {
	font-family: "Pixels";
	src: url(../Silkscreen/slkscr.ttf);
}

@font-face {
	font-family: "Pixels";
	src: url(../Silkscreen/slkscrb.ttf);
	font-weight: bold;
}

body {
	background-color: black;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.game-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.score-tab {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 100%;
	border: 0.5vh solid green;
	border-bottom: none;
	font-size: 3vh;
	color: green;
	font-family: Pixels;
}

.normal-btn {
	font-size: 2.5vh;
	border: 0.2vh solid green;
}

.plain {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	border: 0.5vh solid green;
	overflow: hidden;
}

.user-tab {
	width: 50%;
	height: fit-content;
	border: 0.5vh solid green;
	position: absolute;
	color: green;
	padding: 1vh 0;
}

input, #TargetContainer {
	background-color: transparent;
	color: green;
	font-size: 4vh;
	border: 0.5vh solid green;
	margin: 0.3vh;
	font-family: Pixels;
}

label {
	font-size: 4vh;
	font-family: Pixels;
}

.upper-container {
	width: 100%;
	position: relative;
	display: flex;
}

#TargetContainer {
	width: 50%;
	margin: 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.target-options {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.target-options input {
	width: 80%;
	height: fit-content;
}

.target-options * {
	margin: 0 auto;
}

.lower-container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1vh;
}

.input-container-right {
	width: fit-content;
	position: absolute;
	right: 0;
}

.input-container-right label, input[type=checkbox] {
	font-size: 2vh;
	height: fit-content;
	position: relative;
}

#TargetAmount:focus {
	outline: 3px solid green;
	box-shadow: 0px 0px 35px green;
}

#TargetSize:focus {
	outline: 3px solid green;
	box-shadow: 0px 0px 35px green;
}

#PlayButton:hover {
	box-shadow: 0px 0px 35px green;
}

input[type=range] {
	-webkit-appearance: none;
	border-radius: 5px;
	height: 1.5vh;
	background: darkgreen;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	border: 0;
	transition: opacity .2s;
}

input[type=range]:hover {
	opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2.5vh;
	height: 2.5vh;
	border-radius: 50%;
	background: green;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: green;
	cursor: pointer;
}